# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and acquire TLS certificates
DOMAIN=localhost
# To test the local Traefik config
# DOMAIN=localhost.tiangolo.com

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=frontend_host_url
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://dashboard.example.com

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Press O'Clock"
STACK_NAME=press-oclock-project

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://frontend-host-url"
SECRET_KEY=your_secret_key
FIRST_SUPERUSER=your_first_superuser_email
FIRST_SUPERUSER_PASSWORD=your_first_superuser_password

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Postgres/Supabase
POSTGRES_SERVER=your_postgres_server
POSTGRES_PORT=your_postgres_port
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
SUPABASE_DATABASE_URL=supabase_database_url
SENTRY_DSN=

#Make integration
MAKE_API_KEY=your_make_api_key
MAIL_WEBHOOK_USER_ID=your_mail_webhook_user_id

#OpenAI models
OPENAI_API_KEY=your_openai_api_key
EMBEDDING_MODEL=embedding_model
GENERATION_MODEL=generation_model

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend
